  .menu {
        display: flex;
        width: 100%;
        position: fixed;
        align-items: center;
        justify-content: center;
        height: 80px;
        gap: 20px;
        z-index: 999;
        background-color: #011422;
        box-shadow: 0px 3px 20px #0000007c;
    }

    .s1 {
        background-color: #ffffff;
        color: #011422;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;
        gap: 20px;
    }
    .s2{
      background-color: #011422;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: left;
      gap: 20px;
    }
    .left1 {
        width: 400px;
        height: 400px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 0px 3px 20px #0000007c;
    }

    .israel {
        width: 600px;
        height: 600px;
        position:relative;
        top: -100px;
        left: 30px;
        overflow: hidden;
        box-shadow: 0px 3px 20px #0000007c;
    }
.imgPerfil {
        width: 400px;
        height: 400px;
        transition: all 200ms ease-in-out;
        object-fit: cover;
    }

.imgisrael {
        width: 600px;
        height: 600px;
        transition: all 200ms ease-in-out;
        object-fit:fill;
}

.title2{
  position: relative;
  left: 700px;
  top: -700px;

}
.paragraph2{
  position: relative;
  left: 700px;
  color: white;
  top: -700px;
  text-align: justify;
  font-family: 'Rubik', sans-serif;
  font-size: 
}